@import url(normalize-shiroi.css);
@import url(shiroi-cfsr.css);
/* ************************* Mixins ******************** */
@mixin bg-color($color: lightpink) {
  background-color: $color;
}
/* ************************* General Styles ******************** */
* > * {
  border: 1px solid red;
  * > * {
    border: 1px dotted blue;
  }
}
// Page background color, font family defined here
html {
  font-family: monospace;
  @include bg-color;
}

h1, h2, a {
  text-align: center;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

form {
  margin-block: var(--spacing-100);
}
/* ************************* Plug ins ******************** */

/* ************************* Layout ******************** */

.wrapper-90 {
  width: 90%;
  margin: auto;
  display: block;
}

.wrapper-70 {
  width: 70%;
  margin: auto;
  display: block;
}

.flexi-grid {
  display: flex;
  justify-content: center;
}

.flexi-justified {
  display: flex;
  justify-content: space-evenly;
}

.padding-main-elements {
  padding: var(--spacing-200);
  border-radius: var(--radius-12);
}
/* ************************* JavaScript Manipulated CSS ******************** */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
/* ************************* Chessboard Grid ******************** */
.block {
  display: block;
  height: 60px;
  width: 60px;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
/* ************************* Results CSS ******************** */
.anchor-unit {
  position: absolute;
}

.costum-results-display {
  display: block;
  position: relative;
  left: -50%;
  bottom: -50%;
}
/* ************************* Colors ******************** */
.bg-pink {
  background-color: lightpink;
}
.bg-white {
  background-color: white;
}
/* *************************  ******************** */

/* *************************  ******************** */